body{
	background: black;
	color: white;
}
#dashbox{
	height:100vh;background: url("inactivebg.png") no-repeat center fixed
	;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;  
}
#inactive{
	position:absolute;
	bottom:0;
	height: 100vh;
	
}
#image{
	position: fixed;
	height:200px;
	opacity: 0;

}