body{
	background: black;
}
#dashbox{
	position:absolute;
	height:100vh;
	width: auto;
	background: url("bg.png") no-repeat center fixed;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;  
}
#inactive{
	position:flex;
	height:100%;
	justify-content: flex-end;	
}
}
#inactive{

}
