body{
	background: white;
	left: 0px; 
	top: 0px;
	width = window.innerWidth;
	height = window.innerHeight;
}
.container{
	display: flex;
	height: 100%
    width: auto;
    margin-left: 0;
}
#matharea{
	background: white;
	left: 0px; 
	top: 0px;
	width: auto;
}
p{ 
	right: 0px; 
	bottom: 0px;
	color: grey;
	position: absolute;
	text-align: right;
	margin: 10px;
	font-size: 17pt;
	text-shadow: 0 0 6px white,0 0 6px white,0 0 6px white;
	font-family: 'Tangerine', cursive;

}