body{
	background: grey;
	left: 0px; 
	top: 0px;
	width = window.innerWidth;
	height = window.innerHeight;
}
.container{
    width: 100%;
    margin-left: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}
#matharea{
	background: white;
	left: 0px; 
	top: 0px;
	width: auto;


}
