body{
	background: white;
}
section{
	height: 100vh;
	display: flex;
	justify-content: center;
}
.graphics{
	display: flex;
	justify-content: flex-start;
	background: black;
	height: 70%;
	width: 94%;
	overflow: hidden;
}
.box{
	width:96%;
	height: 96%;
	overflow: hidden;
}
#black{
	background: black;
  	overflow: hidden;
	width:99%;
	height: 99%;
}
#white{
    background:white;
    width:90%;
	height: 90%;
	margin-right: :1px;
	margin-bottom: :1px;
	box-sizing: border-box;

}